<div class="row contact-form">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
        <form name="contactForm" ng-submit="submit()">
            <div class="form-group">
                <input type="text" class="form-control" id="exampleInputEmail1" ng-model="email" name="email" validate-email required placeholder="Введите email">
            </div>
            <div class="alert alert-danger" role="alert" ng-show="contactForm.email.$error.email">
                <span class="error">Input email!</span>
            </div>
            <div class="form-group">
                <textarea class="form-control" id="exampleInputPassword1" ng-model="message" name="message" ng-minlength="10" required placeholder="Введите текст сообщения"></textarea>
            </div>
            <div class="alert alert-danger" role="alert" ng-show="contactForm.message.$error.minlength">
                <span class="error">Too short!</span>
            </div>
            <button class="btn btn-default pull-right">Send</button>
        </form>
    </div>
</div>
