<md-sidenav class="menu md-sidenav-left md-whiteframe-4dp" md-component-id="menu">
    <md-content layout-padding="">
        <a ng-href="#{{menuItem.url}}" class="col-xs-12 block" ng-click="vm.closeMenu()" ng-repeat="menuItem in vm.menuItems track by $index" ng-class="{'bg-success': vm.isActive('{{menuItem.url}}')}">{{menuItem.title}}</a>
    </md-content>
</md-sidenav>
