<div menu="vm.menu" class="menu-container"></div>
<div class="container main">
    <div class="header row block">
        <div class="btn btn-default" ng-click="vm.toggleMenu()">Menu</div>
        <h1>Animals (test app)</h1>
    </div>
    <div class="row">
        <a href="#{{menuItem.url}}" ng-repeat="menuItem in vm.menuItems track by $index" class="col-sm-3 col-xs-12 block" ng-class="{'bg-success': vm.isActive('{{menuItem.url}}')}">
            {{menuItem.title}}
        </a>
    </div>
    <div class=" row block content" ng-view></div>
    <div class="row block footer">
        <span class="pull-left">Animals footer (angular test app)</span>
        <div class="btn btn-default pull-right" ng-click="vm.showConfirm($event)">Help</div>
    </div>
</div>
