md-sidenav.menu.md-closed-add,
md-sidenav.menu.md-closed-remove {
    transition: 0.5s ease-in all;
}

.content {
	max-height: 500px;
	overflow: auto;
}

.content .contact-form {
	padding-top: 75px;
	padding-bottom: 75px;
}

.block {
	border: 1px solid black;
	padding: 15px;
}